
.container {
    display: flex;
    flex-direction: row;
  }
  
  .column1 {
    flex: 1;
    padding: 10px;
    text-align: center;
    border-style:solid;
    margin: 5px;
  }
  .column2{
      flex: 1;
      padding: 80px;
      text-align: center;
      border-style: solid;
      margin: 5px;
    }
  .column3 {
      flex: 1;
      padding: 10px;
      text-align: center;
      border-style: solid;
      margin: 5px;
    }
  
  h2 {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  h1{
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 5px;
      text-align: center;
    }
  
  p {
    font-size: 15px;
    line-height: 1;
  }
 p1{
  font-size: 15px;
  line-height: 1;
  font-style: italic;
 }
 